/* LoginForm.css */

/* Estilos para el contenedor principal */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px; /* Toma el 100% de la altura de la ventana */
  }
  
  /* Estilos para el título */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para los campos de entrada */
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para el botón de inicio de sesión */
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para los enlaces "Registrarse" y "Recuperar Contraseña" */
  a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .error{
    background-color: #FFE2DC;
  }
  .error h3{
    color: red;
  }